.prio-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.prio-btn-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
}
.hero {
  display: block;
  padding-top: 110px;
  padding-left: 96px;
}
.form-container {
  display: flex;
  justify-content: space-between;
  padding-top: 48px;
  width: 100%;
}
.form-left {
  width: 440px;
}
.form-right {
  width: 440px;
}
.btn-prio-urgent {
  height: 41px;
  width: 121px;
  background-color: #ffffff;
  border: none;
  box-shadow: 0px 0px 4px 0px #0000001a;
  border-radius: 8px;
}

.btn-prio-medium {
  height: 41px;
  width: 121px;
  background-color: #ffa800;
  border: none;
  box-shadow: 0px 0px 4px 0px #0000001a;
  border-radius: 8px;
}

.btn-prio-low {
  height: 41px;
  width: 121px;
  background-color: #ffffff;
  border: none;
  box-shadow: 0px 0px 4px 0px #0000001a;
  border-radius: 8px;
}

.clear-addTask-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 16px;
  gap: 8px;
}

.clear-btn {
  height: 56px;
  width: 110px;
  border: solid #2a3647;
  background-color: #f6f7f8;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-size: 21px;
}

.creatTask-btn {
  height: 56px;
  width: 183px;
  color: white;
  background-color: #2a3647;
  border: solid #2a3647;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-size: 21px;
}

span {
  color: #ff8190;
}

.title-input {
  height: 40px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  padding-left: 21px;
}

.add-subtask {
  position: absolute;
  right: 16px;
}
.linie {
  display: none;
  position: absolute;
  right: 44px;
  color: #d1d1d1;
}
.cancle-subtask {
  position: absolute;
  right: 50px;
}
.subtusk-input {
  height: 40px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  padding-left: 21px;
  width: 100%;
}

button {
  border: none;
  background: none;
  padding-block: 0;
  padding-inline: 0;
}
input::placeholder {
  font-size: 16px;
}

.input-containers {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 396px;
  padding-bottom: 16px;
  position: relative;
  width: 100%;
}

.description-input {
  height: 88px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  padding: 18px 21px;
  font-size: 16px;
}

.date-input {
  height: 40px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  padding: 0 21px;
}

.drop-down {
  height: 48px;
  border: 1px solid #d1d1d1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  padding-left: 16px;
  cursor: pointer;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.drop-down-arrow {
  height: 20px;
  padding-right: 16px;
}

/* Dropdown-Inhalt */
.category-options {
  width: 100%;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  padding: 5px 0;
  border: none; /* Entfernt den Rahmen */
  position: absolute;
  top: 80px;
}

.category-options div {
  padding: 10px;
  cursor: pointer;
  border: none; /* Kein Rahmen um die Optionen */
  border-radius: 0;
}

.category-options div:hover {
  background-color: #f0f0f0;
}

/* Versteckt */
.hidden {
  display: none;
}
.subtask{
  display: flex;
  justify-content: space-between;
  width: 360px;
}

.subtask-label-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.subtask-label {
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.subtask-label button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 12px;
}
.images-container{
  display: none;
  display: flex;
  justify-content: space-between;
  width: 60px
}
.subtask-label:hover .images-container{
  display: flex;
}
.subtask-label:hover{
  background-color: rgba(128, 128, 128, 0.151);
}
.subtask-label:hover input{
  background-color: rgba(128, 128, 128, 0);
}
.subtask-label input{
  border: none;
  background-color: #f6f7f8;
  width: 300px;
}

.contact-list-container {
  display: none;
  height: 250px;
  background-color: white;
  z-index: 1000;
  position: absolute;
  top: 80px;
  overflow: auto;
  overflow-x: hidden;
  width: 100%;
}

.contact {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  z-index: 5;
}

.name-and-img {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.initials-circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  font-size: 16px;
  margin: 5px;
  text-transform: uppercase;
}

.subtask-container {
  display: flex;
  align-items: center;
  border: solid 1px #d1d1d1;
  border-radius: 10px;
}

.subtask-container input {
  border: none;
}

.plus-img {
  position: absolute;
  right: 16px;
  height: 24px;
  width: 24px;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a8a8a8;
  border-radius: 10px;
}

#add-task-img {
  background-image: url(../Assets/img/add-task_w_L.png);
}

#add-task-button {
  background-color: #091931;
  color: white;
}

#confirmButton {
  display: none;
}

#cancelButton {
  display: none;
}
.add-clear-task{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 146px;
}
.required{
  display: none;
}
@media (max-width: 1190px){
  .form-container{
    gap: 10px;
  }
}
@media (max-width: 1040px){
  .btn-prio-urgent{
    width: 90px;
  }
  .btn-prio-medium{
    width: 90px;
  }
  .btn-prio-low{
    width: 90px;
  }
  .subtask{
    width: 100%;
  }
  .subtask input{
    width: 100%;
  }
}
@media (max-width: 830px){
  #frame{
    overflow-y: auto;
  }
  .hero{
    padding-top: 48px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .form-container{
    flex-direction: column;
  }
  hr{
    display: none;
  }
  .btn-prio-urgent{
    width: 121px;
  }
  .btn-prio-medium{
    width: 121px;
  }
  .btn-prio-low{
    width: 121px;
  }
  #main-content{
    align-items: center;
  }
  .add-clear-task{
    padding: 0;
    position: sticky;
    bottom: 10px;
    background-color: #f6f7f8;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .add-clear-task p{
    display: none;
  }
  .required{
    display: block;
  }
  #nav-bar{
    box-shadow: none;
  }
}

@media screen and (min-width: 768px) {
  #add-task-button {
    border-radius: unset;
  }
}

@media (max-width: 450px){
  .form-left{
    width: 100%;
  }
  .form-right{
    width: 100%;
  }
  .subtask{
    width: 100%;
  }
  .subtask input{
    width: 100%;
  }
}

@media (max-width: 370px){
  .btn-prio-urgent{
    width: 80px;
  }
  .btn-prio-medium{
    width: 80px;
  }
  .btn-prio-low{
    width: 80px;
  }
}
