.hero-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 12%;
  background-color: #2d3e502a;
  width: 88%;
  height: 100vh;
}
.addtask-overlay {
  background-color: white;
  border-radius: 30px;
  width: 1110px;
  padding: 30px;
}
hero.prio-container-overlay {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.prio-btn-container-overlay {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
}

.hero-overlay {
  display: none;
  padding-top: 110px;
  padding-left: 96px;
  animation: overlaySlideIn 1s;
}

.form-container-overlay {
  display: flex;
  justify-content: space-between;
  padding-top: 48px;
  width: 100%;
}

.form-left-overlay {
  width: 440px;
}

.form-right-overlay {
  width: 440px;
}

.btn-prio-urgent-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 41px;
  width: 121px;
  background-color: #ffffff;
  border: none;
  box-shadow: 0px 0px 4px 0px #0000001a;
  border-radius: 8px;
}

.btn-prio-medium-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 41px;
  width: 121px;
  background-color: #ffa800;
  border: none;
  box-shadow: 0px 0px 4px 0px #0000001a;
  border-radius: 8px;
}

.btn-prio-low-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 41px;
  width: 121px;
  background-color: #ffffff;
  border: none;
  box-shadow: 0px 0px 4px 0px #0000001a;
  border-radius: 8px;
}

.clear-addTask-container-overlay {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 16px;
  gap: 8px;
}

.clear-btn-overlay {
  height: 56px;
  width: 110px;
  border: solid #2a3647;
  background-color: #f6f7f8;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-size: 21px;
}

.creatTask-btn-overlay {
  height: 56px;
  width: 183px;
  color: white;
  background-color: #2a3647;
  border: solid #2a3647;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-size: 21px;
}

span-overlay {
  color: #ff8190;
}

.title-input-overlay {
  height: 40px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  padding-left: 21px;
}

.add-subtask-overlay {
  position: absolute;
  right: 16px;
}

.linie-overlay {
  display: none;
  position: absolute;
  right: 44px;
  color: #d1d1d1;
}

.cancle-subtask-overlay {
  position: absolute;
  right: 50px;
}

.subtask-input-overlay {
  height: 40px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  padding-left: 21px;
  width: 100%;
}

button-overlay {
  border: none;
  background: none;
  padding-block: 0;
  padding-inline: 0;
}

input::placeholder {
  font-size: 16px;
}

.input-containers-overlay {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 396px;
  padding-bottom: 16px;
  position: relative;
  width: 100%;
}

.description-input-overlay {
  height: 88px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  padding: 18px 21px;
  font-size: 16px;
}

.date-input-overlay {
  height: 40px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  padding: 0 21px;
}

.drop-down-overlay {
  height: 48px;
  border: 1px solid #d1d1d1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  padding-left: 16px;
  cursor: pointer;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.drop-down-arrow-overlay {
  height: 20px;
  padding-right: 16px;
}

.category-options-overlay {
  width: 100%;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  padding: 5px 0;
  border: none;
  position: absolute;
  top: 80px;
}

.category-options-ovrelay div {
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 0;
}

.category-options-overlay div:hover {
  background-color: #f0f0f0;
}

.title-arrow-overlay {
  align-items: center;
}

.hidden {
  display: none;
}

.subtask-overlay {
  display: flex;
  justify-content: space-between;
  width: 360px;
}

.subtask-label-container-overlay {
  display: flex;
  flex-direction: column;
  height: 100px;
  overflow-y: auto;
  gap: 8px;
}

.subtask-label-overlay {
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.subtask-label-overlay button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 12px;
}

.images-container-overlay {
  display: none;
  justify-content: space-between;
  width: 60px;
}

.subtask-label-overlay:hover .images-container-overlay {
  display: flex;
}

.subtask-label-overlay:hover {
  background-color: rgba(128, 128, 128, 0.151);
}

.subtask-label-overlay:hover input {
  background-color: rgba(128, 128, 128, 0);
}

.subtask-label-overlay input {
  border: none;
  background-color: #f6f7f8;
  width: 300px;
}

.contact-list-container-overlay {
  display: none;
  height: 250px;
  background-color: white;
  z-index: 1000;
  position: absolute;
  top: 80px;
  overflow: auto;
  overflow-x: hidden;
  width: 100%;
  flex-direction: column;
  gap: 5px;
}

.contact-overlay {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  z-index: 5;
}

.contact-overlay:hover {
  cursor: pointer;
}

.name-and-img-overlay {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.initials-circle-overlay {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  font-size: 16px;
  margin: 5px;
  text-transform: uppercase;
}

.subtask-container-overlay {
  display: flex;
  align-items: center;
  border: solid 1px #d1d1d1;
  border-radius: 10px;
}

.subtask-container-overlay input {
  border: none;
}

hr {
  height: 340px;
}

.plus-img-overlay {
  position: absolute;
  right: 16px;
  height: 24px;
  width: 24px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #a8a8a8;
  border-radius: 10px;
}

#add-task-img-overlay {
  background-image: url(../Assets/img/add-task_w_L.png);
}

#add-task-button-overlay {
  background-color: #091931;
  color: white;
}

#confirmButton-overlay {
  display: none;
}

#cancelButton-overlay {
  display: none;
}

.add-clear-task -overlay {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 146px;
}

.required-overlay {
  display: none;
}

.confirm-subtask-overlay {
  display: none;
}

.erorr-msg-overlay {
  top: 70px;
}
.description-error-overlay {
  top: 110px;
}

.category-error-overlay {
  top: 80px;
  padding-left: 0;
}

.selected-user-overlay {
  background-color: #2a3647;
  border-radius: 10px;
  color: white;
}

@media (max-width: 1290px) {
  .form-container-overlay {
    gap: 10px;
  }
}

@media (max-width: 1040px) {
  .btn-prio-urgent-overlay {
    width: 90px;
  }

  .btn-prio-medium-overlay {
    width: 90px;
  }

  .btn-prio-low-overlay {
    width: 90px;
  }

  .subtask-overlay {
    width: 100%;
  }

  .subtask-overlay input {
    width: 100%;
  }
}

@media (max-width: 830px) {
  #frame {
    overflow-y: auto;
  }

  .form-container-overlay {
    flex-direction: column;
  }

  hr {
    display: none;
  }

  .btn-prio-urgent-overlay {
    width: 121px;
  }

  .btn-prio-medium-overlay {
    width: 121px;
  }

  .btn-prio-low-overlay {
    width: 121px;
  }

  #main-content-overlay {
    align-items: center;
  }

  .add-clear-task-overlay {
    position: sticky;
    background-color: #f6f7f8;
    bottom: 0px;
    padding: 10px;
  }

  .add-clear-task-overlay p {
    display: none;
  }

  .required-overlay {
    display: block;
  }

  #nav-bar-overlay {
    box-shadow: none;
  }

  .title-arrow-overlay {
    position: sticky;
    top: 82px;
    background-color: #f6f7f8;
    z-index: 1000;
  }
  .hero-overlay {
    display: none !important;
  }
}

@media screen and (min-width: 830px) {
  #add-task-button-overlay {
    border-radius: 0;
  }
}

@media (max-width: 520px) {
  .hero-overlay {
    width: 100%;
  }
}

@media (max-width: 490px) {
  .form-left-overlay {
    width: 100%;
  }

  .form-right-overlay {
    width: 100%;
  }

  .subtask-overlay {
    width: 100%;
  }

  .subtask-overlay input {
    width: 100%;
  }
  .prio-btn-container-overlay {
    gap: 5px;
  }
}
.form-container-overlay {
  padding-left: 30px;
  padding-right: 30px;
}

@media (max-width: 370px) {
  .btn-prio-urgent-overlay {
    width: 80px;
    gap: 5px;
  }

  .btn-prio-medium-overlay {
    width: 80px;
    gap: 5px;
  }

  .btn-prio-low-overlay {
    width: 80px;
    gap: 5px;
  }
  .clear-btn-overlay {
    height: 46px;
    width: 90px;
  }
  .creatTask-btn-overlay {
    height: 46px;
    width: 140px;
  }
}

@media (max-width: 1220px) {
  #main-content {
    width: auto;
  }
}

@keyframes overlaySlideIn {
  0% {
    right: -100%;
    top: 0;
    transform: translate(100%, 0);
  }

  100% {
    right: 0;
    top: 0;
    transform: translate(0, 0);
  }
}
