
* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

#board-button {
  background-color: #091931;
  color: white;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #f8f9fa;
}

.board-container {
  margin-top: 110px;
  margin-left: 91px;
  margin-right: 110px;
  max-width:1200px
}

.header-board {
  display: flex;
  padding-bottom: 16px;
  flex-direction: column;
}

.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
}

.add-task-board {
  background: #2a3647;
  color: white;
  font-size: 24px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
}

.search-container {
  display: flex;
  border-radius: 10px;
  border: 1px solid #a8a8a8;
  background-color: #ffffff;
  width: 280px;
  padding-inline: 16px;
  padding-block: 8px;
  box-sizing: unset;
  align-items: center;
}

.search-container:hover {
  border: 1px solid #29abe2;
}

#search {
  flex-grow: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
  color: #666;
}

#searchTask {
  flex-grow: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
  color: #666;
}

.search-icon {
  width: 26px;
  height: 18px;
  cursor: pointer;
  border-left: 1px solid #ccc;
  padding-left: 8px;
}

.add-task-button {
  padding: 10px 15px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.board {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.column {
  flex-grow: 1;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
  height: 100%;
}

.hidden {
  display: none;
}

.column-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.add-task {
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #2d3e50;
  border-radius: 5px;
  cursor: pointer;
  font-size: larger;
}

.add-task:hover {
  border: 2px solid #29abe2;
  color: #29abe2;
}

.task-list {
  background: #e7e7e7;
  border: 1px dashed #d1d1d2;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  font-size: 14px;
}

.no-tasks {
  color: #c7c7c7;
  font-style: italic;
}

.task-container {
  min-height: 550px;
  border: 2px dashed #00000000;
  overflow-y: auto;
}

.column h2 {
  font-size: 20px;
  margin: 0;
  width: 176px;
  font-weight: 700;
}

.task:active {
  cursor: grabbing;
}

.task-container.highlight-drop {
  border: 2px dashed #848788;
  background-color: #e4e5e6;
  border-radius: 8px;
}

.user-card:active {
  opacity: 0.1;
  cursor: grabbing;
  z-index: 1000;
}

.user-card {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.user-story-card {
  flex: none;
  background: white;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.35), 0px 3px 5px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  padding: 16px;
  margin: 16px 0;
  width: 280px;
}

.user-story-card h4 {
  color: #2d3e50;
  font-size: 16px;
  margin-bottom: 4px;
  font-weight: bold;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.user-story-card p {
  font-size: 14px;
  color: #666;
  margin-bottom: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.modalTitle {
  font-size: 24px;
  font-weight: bold;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}

.modalDescription {
  font-size: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}

.progress-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.progress-bar {
  width: 55%;
  height: 8px;
  background: #e6e6e6;
  border-radius: 4px;
  position: relative;
}

.progress-bar-div {
  width: 100%;
  height: 8px;
  background: #e6e6e6;
  border-radius: 4px;
  position: relative;
}

.progress-bar .progress {
  height: 100%;
  background: #29abe2;
  border-radius: 4px;
  width: 50%;
}

.progress-bar-div .progress-div {
  height: 100%;
  background: #29abe2;
  border-radius: 4px;
}

.subtasks {
  font-size: 12px;
  color: #666;
}

.user-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-avatar-container {
  display: flex;
  align-items: center;
  position: relative;
}

.user-avatar {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: white;
  border: 2px solid white;
  position: relative;
  margin-left: -8px;
}

.user-avatar:first-child {
  margin-left: 0;
}

.category-label.user-story {
  background-color: blue;
  color: white;
  padding: 5px 15px;
  border-radius: 8px;
  display: inline-block;
  font-size: 16px;
}

.category-label.technical-task {
  background-color: #20e3b2;
  color: white;
  padding: 5px 15px;
  border-radius: 8px;
  font-size: 16px;
  display: inline-block;
  max-width: 135px;
}

.uncategorized {
  background-color: gray;
  color: white;
  border-radius: 8px;
  padding: 5px 10px;
  display: inline-block;
  font-weight: bold;
}

.user-story {
  background-color: blue;
  color: white;
  border-radius: 8px;
  padding: 5px 10px;
  display: inline-block;
  max-width: 116px;
  font-size: 16px;
}

.technical-task {
  background-color: #20E3B2;
  color: white;
  border-radius: 8px;
  padding: 5px 10px;
  display: inline-block;
  max-width: 135px;
  font-size: 16px;
}

.user-container img {
  vertical-align: middle;
  margin-left: 5px;
}

.hidden {
  display: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.modal-content {
  background-color: white;
  border-radius: 20px;
  max-width: 530px;
  width: 100%;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  font-family: "Inter", sans-serif;
  animation: fadeInRight 0.5s ease-out;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: auto;
  overflow-y: auto;
  position: relative;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 32px;
  max-height: 80vh;
}

.task-modal {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-height: 650px;
  padding-right: 12px;
}

.section-board {
  display: flex;
  gap: 30px;
}

.add-task-board-plus {
  text-overflow: ellipsis;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 48px;
  font-weight: 700;
  font-size: 21px;
  border-radius: 8px;
  color: #ffffff;
  background-color: #2a3647;
  padding: 0px 24px;
}

.add-task-board-plus:hover {
  background-color: #29abe2;
}

.modalDueDate {
  display: flex;
  gap: 12px;
}

.modalPriority {
  display: flex;
  gap: 34px;
}

.modalsDueDate {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modalsPriority {
  display: flex;
  flex-direction: column;
  gap: 34px;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate(0, -50%);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.todo:hover {
  transform: rotate(2deg);
  cursor: pointer;
}

.modal-category {
  background-color: #0038ff;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
  width: 150px;
  text-align: center;
}

.subtask-list {
  display: flex;
  flex-direction: column;
}
.subtask-edit-input{
  width: 100%;
  border:none;
  font-size: 16px;
}

.user-item {
  display: flex;
  align-items: center;
  gap: 12px;
}

.user-avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border: 2px solid white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}

.user-name {
  font-size: 16px;
  font-weight: 500;
  color: #333;
  white-space: nowrap;
}

.modal-footer {
  position: sticky;
  bottom: 0;
  background-color: white;
  padding-bottom: 40px;
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.delete-button,
.edit-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.line {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #e8e8e8;
}

.modal-footer p {
  display: inline-block;
  margin: 0;
  font-size: 14px;
  color: #333;
}

.delete-button:hover img {
  content: url('../Assets/delete_blue.png');
}

.delete-button:hover p {
  color: #29abe2;

}

.edit-button:hover img {
  content: url('../Assets/edit_blue.png');
}

.edit-button:hover p {
  color: #29abe2;

}

.close-button {
  display: flex;
  top: 20px;
  right: 20px;
  font-size: 28px;
  cursor: pointer;
  color: #333;
  justify-content: flex-end;
}

#modalSubtasks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-edit-content {
  background-color: white;
  padding: 32px;
  border-radius: 20px;
  max-width: 530px;
  width: 100%;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  font-family: "Inter", sans-serif;
  overflow-y: auto;
  position: relative;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.modal-edit-content h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 16px;
}

.modal-edit-content label {
  font-size: 14px;
  font-weight: bold;
  margin-top: 12px;
  display: block;
}

.edit-text {
  padding: 10px 10px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  color: #000000;
  resize: none;
  outline: none;
  width: 95%;
}

textarea {
  height: 80px;
}

.inputStyle {
  margin-right: 5px;
}
