* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

#board-button {
  background-color: #091931;
  color: white;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #f8f9fa;
}

.board-container {
  margin-top: 110px;
  margin-left: 91px;
  margin-right: 110px;
}

.header-board {
  display: flex;
  padding-bottom: 16px;
  flex-direction: column;
}
.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
}
.add-task-board {
  background: #2a3647;
  color: white;
  font-size: 24px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
}
.search-container {
  display: flex;
  border-radius: 10px;
  border: 1px solid #a8a8a8;
  background-color: #ffffff;
  width: 280px;
  padding-inline: 16px;
  padding-block: 8px;
  box-sizing: unset;
  align-items: center;
}
.search-container:hover{
  border: 1px solid #29abe2;
}
#search {
  flex-grow: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
  color: #666;
}
#searchTask{
  flex-grow: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
  color: #666;
}

.search-icon {
  width: 26px;
  height: 18px;
  cursor: pointer;
  border-left: 1px solid #ccc;
  padding-left: 8px;
}

.add-task-button {
  padding: 10px 15px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.board {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.column {
  flex-grow: 1;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
  height: 100%;
}

.hidden {
  display: none;
}

.column-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.add-task {
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #2d3e50;
  border-radius: 5px;
  cursor: pointer;
  font-size: larger;
}
.add-task:hover{
  border: 2px solid #29abe2;
  color: #29abe2;
}

.task-list {
  background: #e7e7e7;
  border: 1px dashed #d1d1d2;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  font-size: 14px;
}

.no-tasks {
  color: #c7c7c7;
  font-style: italic;
}

.task-container {
  min-height: 550px;
  border: 2px dashed #00000000;
  overflow-y: auto;
}

.column h2 {
  font-size: 20px;
  margin: 0;
  width: 176px;
  font-weight: 700;

}

.task:active {
  cursor: grabbing;
}

.task-container.highlight-drop {
  border: 2px dashed #848788; /* Highlight border color */
  background-color: #e4e5e6; /* Light blue background */
  border-radius: 8px;
}


.user-card:active {
  opacity: 0.1;
  cursor: grabbing;
  z-index: 1000; /* Ensure it's above everything */
}


.user-card {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.user-story-card {
  flex: none;
  background: white;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.35), 0px 3px 5px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  padding: 16px;
  margin: 16px 0;
  width: 280px;
}

.user-story-card h4 {
  color: #2d3e50;
  font-size: 16px;
  margin-bottom: 4px;
  font-weight: bold;
  display: -webkit-box;
/*   -webkit-line-clamp: 2;  *//* Maximal zwei Zeilen */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; /* Mit "..." abschneiden */
  word-wrap: break-word;
}

.user-story-card p {
  font-size: 14px;
  color: #666;
  margin-bottom: 16px;
  display: -webkit-box;
/*   -webkit-line-clamp: 2; */ /* Maximal zwei Zeilen */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; /* Mit "..." abschneiden */
  word-wrap: break-word;
}
.progress-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.progress-bar {
  width: 55%;
  height: 8px;
  background: #e6e6e6;
  border-radius: 4px;
  position: relative;
}
.progress-bar-div {
  width: 100%;
  height: 8px;
  background: #e6e6e6;
  border-radius: 4px;
  position: relative;
}

.progress-bar .progress {
  height: 100%;
  background: #29abe2;
  border-radius: 4px;
  width: 50%; /* Fortschrittsanzeige - Passe dies entsprechend an */
}
.progress-bar-div .progress-div {
  height: 100%;
  background: #29abe2;
  border-radius: 4px;
}

.subtasks {
  font-size: 12px;
  color: #666;
}
.user-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Benutzer-Avatare */
.user-avatar-container {
  display: flex;
  align-items: center;
  position: relative;
}

.user-avatar {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: white;
  border: 2px solid white; /* Weißer Rand um die Avatare */
  position: relative;
  margin-left: -8px; /* Überlappungseffekt */
}
.user-avatar:first-child {
  margin-left: 0; /* Entferne den negativen Abstand beim ersten Avatar */
}

/* Stil für User Story */
.category-label.user-story {
  background-color: blue;
  color: white;
  padding: 5px 15px;
  border-radius: 8px;
  display: inline-block;
  font-size: 16px;
}

/* Stil für Technical Task */
.category-label.technical-task {
  background-color: #20e3b2;
  color: white;
  padding: 5px 15px;
  border-radius: 8px;
  font-size: 16px;
  display: inline-block;
  max-width: 135px;
}
/* Default style */
.uncategorized {
  background-color: gray;
  color: white;
  border-radius: 8px;
  padding: 5px 10px;
  display: inline-block;
  font-weight: bold;
}

/* User Story style */
.user-story {
  background-color: blue;
  color: white;
  border-radius: 8px;
  padding: 5px 10px;
  display: inline-block;
  max-width: 116px;
  font-size: 16px;
}

/* Technical Task style */
.technical-task {
  background-color: #20E3B2;
  color: white;
  border-radius: 8px;
  padding: 5px 10px;
  display: inline-block;
  max-width: 135px;
  font-size: 16px;
}

.user-container img {
  vertical-align: middle;
  margin-left: 5px;
}

.hidden {
  display: none;
}

/* Modal Hintergrund und Animation */
/* Modal Container */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  padding: 20px;
}

/* Modal Content (Zentriert) */
.modal-content {
  background-color: white;
  padding: 32px;
  border-radius: 20px;
  max-width: 530px;
  width: 100%;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  font-family: "Inter", sans-serif;
  animation: fadeInRight 0.5s ease-out;
  position: relative;
  transform: translate(-50%, -50%); /* Zentralisiert */
  top: 50%;
  left: 50%;
}
.task-modal{
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-height: 650px;
  overflow-x: auto;
}
.section-board {
  display: flex;
  gap: 30px;
}
.add-task-board-plus {
  text-overflow: ellipsis;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 48px;
  font-weight: 700;
  font-size: 21px;
  border-radius: 8px;
  color: #ffffff;
  background-color: #2a3647;
  padding: 0px 24px;
}
.add-task-board-plus:hover{
  background-color: #29abe2;
}

.modalDueDate{
  display: flex;
  gap: 12px;
}

.modalPriority{
  display: flex;
  gap: 34px;
}
.modalsDueDate{
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.modalsPriority{
  display: flex;
  flex-direction: column;
  gap: 34px;
}

/* Modal Animation */
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate(0, -50%); /* Startet etwas höher als die Mitte */
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%); /* Perfekt zentriert */
  }
}
.todo:hover{
  transform: rotate(2deg);
    cursor: pointer;
}
/* Kategorie Label */
.modal-category {
  background-color: #0038ff;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
  width: 150px;
  text-align: center;
}

/* Subtasks */
.subtask-list{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

/* Container für Benutzer (Name neben Avatar) 
#modalAssignedUsers {
  display: flex;
  flex-direction: column;
  gap: 12px;
}*/

/* Einzelner Benutzer (Avatar + Name) */
.user-item {
  display: flex;
  align-items: center; /* Horizontale Ausrichtung */
  gap: 12px; /* Abstand zwischen Avatar und Name */
}

/* Avatar-Stil */
.user-avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border: 2px solid white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}

/* Name soll rechts neben dem Avatar stehen */
.user-name {
  font-size: 16px;
  font-weight: 500;
  color: #333;
  white-space: nowrap; /* Verhindert Zeilenumbrüche */
}

/* Modal Footer */
.modal-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.delete-button,
.edit-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.line {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #e8e8e8;
}

.modal-footer p {
  display: inline-block;
  margin: 0;
  font-size: 14px;
  color: #333; /* Make sure this contrasts with the background */
}

.delete-button:hover img {
  content: url('../Assets/delete_blue.png'); /* Ändert das Icon */
}


.delete-button:hover p {
  color: #29abe2; /* Ändert die Textfarbe */
  
}
.edit-button:hover img {
  content: url('../Assets/edit_blue.png'); /* Ändert das Icon */
}
.edit-button:hover p {
  color: #29abe2; /* Ändert die Textfarbe */
  
}

/* Close Button */
.close-button {
  display: flex;
  top: 20px;
  right: 20px;
  font-size: 28px;
  cursor: pointer;
  color: #333;
  justify-content: flex-end;
}
#modalSubtasks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Modal Container */
.modal-edit-content {
  background-color: white;
  padding: 32px;
  border-radius: 20px;
  max-width: 530px;
  width: 100%;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  font-family: "Inter", sans-serif;
  overflow-y: auto;
  position: relative;
  transform: translate(-50%, -50%); /* Zentralisiert */
  top: 50%;
  left: 50%;
}

/* Überschrift */
.modal-edit-content h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 16px;
}

/* Input-Beschriftung */
.modal-edit-content label {
  font-size: 14px;
  font-weight: bold;
  margin-top: 12px;
  display: block;
}

.edit-text{
  padding: 10px 10px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  color: #000000;
  resize: none;
  outline: none;
  width: 95%;
}
textarea {
  height: 80px;
}
.inputStyle {
  margin-right: 5px;
}
.prio-btn-container {
  height: 40px;
  display: flex;
  align-items: center; 
  justify-content: space-around;
  justify-content: center;
  gap: 12px;
}

.drop-down {
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.subtask-container {
  display: flex;
  width: 100%;
  position: relative;
}
.subtask-label-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.subtasks-label {
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  gap: 30px;
}
.subtusk-input {
  padding: 10px 21px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  color: #000000;
  resize: none;
  outline: none;
  width: 100%;
  position: relative;
}
.plus-img {
  position: absolute;
  right: 21px;
  transform: translateY(-50%);
  top: 50%;
  display: flex;
  align-items: center;
}
.imgContainer {
  position: absolute;
  right: 21px;
  transform: translateY(-50%);
  top: 50%;
  display: flex;
  align-items: center;
}
.cancle-subtask{
  display: none;
  border:none;
  background-color: white;
}
.add-subtask{
  display: none;
  border: none;
  background-color: white;
}
.linie{
  display: none;
}
.close-edit{
  display: flex;
  flex-direction: row-reverse;
}
.close-button-edit {
  font-size: 20px;
  cursor: pointer;
  color: #333;
}
.save-edit{
  display: flex;
  flex-direction: row-reverse;
}
.btnPrimary {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 48px;
  font-weight: 700;
  font-size: 21px;
  border-radius: 8px;
  color: #ffffff;
  background-color: #2a3647;
  padding: 15px 24px;
  border: 0px;
  gap: 4px;
  transition: background-color 100ms ease-in-out, transform 100ms ease-in-out;
}
.btnPrimary:hover {
  font-weight: 700;
  font-size: 21px;
  border-radius: 8px;
  border: 0px;
  color: #ffffff;
  background-color: #29abe2;
  padding: 15px 24px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
}
.dot {
  width: 8px;
  height: 8px;
  background-color: #2a3647;
  border-radius: 50%;
  margin-right: 8px;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a8a8a8;
  border-radius: 10px;
}
.modal-container {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-body {
  position: relative;
  margin: 5% auto;
  padding: 20px;
  width: 80%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 25px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

.modal-close:hover {
  color: black;
}

/* Add Task Button */
.btn-add-task {
  background-color: #4caf50; /* Grüner Hintergrund */
  color: white; /* Weiße Schrift */
  font-size: 16px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px; /* Abgerundete Ecken */
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Leichter Schatten */
  transition: all 0.2s ease; /* Glatter Hover-Effekt */
}

.btn-add-task:hover {
  background-color: #45a049; /* Dunkleres Grün beim Hover */
  transform: scale(1.05); /* Leichtes Vergrößern */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Intensiverer Schatten */
}
@media (max-width: 768px) {
  .modal-body {
      width: 95%; /* Verkleinertes Modal auf kleineren Bildschirmen */
      height: 90%; /* Höhere Vertikale für kleinere Bildschirme */
      margin: 5% auto; /* Zentriert mit weniger Abstand */
  }
}

/* Animation beim Öffnen des Modals */
.modal-container {
  animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.modal-body {
  animation: slideDown 0.3s ease-out;
}

@keyframes slideDown {
  from {
      transform: translateY(-50px);
  }
  to {
      transform: translateY(0);
  }
}


@media (min-width: 1355px) {
  h2 {
    font-size: 12px;
  }
  .board {
    display: flex;
    flex-direction: row;
  }
  .task-container {
    display: flex;
    flex-direction: column;
  }
  .user-story-card {
    width: 230px;
  }
  .header-board {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
}
@media (max-width: 1355px){
  .search-container {
    width: auto;
  }
  .user-card{
    justify-content: flex-start;
  }
  .task-container{
    display: flex;
    min-height: 200px;
    gap: 15px;
  }
}

@media (max-width: 1500px){
  .board-container {
    margin-top: 110px;
    margin-left: 35px;
    margin-right: 35px;
  }
}

.contact-list-container {
  max-height: 160px; /* Höhe für 4 Elemente, abhängig von der Höhe eines einzelnen Elements */
  overflow-y: auto; /* Scroll aktivieren */
  border: 1px solid #ccc; /* Optional: Rahmen */
  background-color: #fff; /* Hintergrundfarbe */
  padding: 8px; /* Innenabstand */
  border-radius: 4px; /* Abgerundete Ecken */
}
.contact{
  display: flex;
  align-items: center;
  gap: 8px;
}
.added-users {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.user-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}


.priority-buttons {
  display: flex;
  gap: 10px;
}

.priority-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border: 2px solid transparent;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: white;
}

.add-subtask-container {
  margin: 10px 0;
  display: flex;
  gap: 10px;
}

.subtask-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
}

.subtask-text-input {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.remove-subtask-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.add-subtask {
  position: absolute;
  right: 16px;
  bottom: 5px;
}
.linie {
  display: none;
  position: absolute;
  right: 44px;
  color: #d1d1d1;
  bottom: 11px;
}
.cancel-subtask{
  display: none;
  border: none;
  background-color: white;
  position: absolute;
  right: 50px;
  bottom: 5px;
}
.subtask-input{
  height: 40px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  padding-left: 21px;
  width: 100%;
}
.subtask{
  display: flex;
  justify-content: space-between;
  width: 360px;
}

.subtask-label-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.subtask-label {
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  gap: 5px;
}

.subtask-label button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 12px;
}
.images-container{
  display: none;
  display: flex;
  justify-content: space-between;
  width: 60px
}
.subtask-label:hover .images-container{
  display: flex;
}
.subtask-label:hover{
  background-color: rgba(128, 128, 128, 0.151);
}
.subtask-label:hover input{
  background-color: rgba(128, 128, 128, 0);
}
.subtask-label input{
  border: none;
  background-color: #f6f7f8;
  width: 300px;
}

.prio-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.btn-prio-urgent {
  height: 41px;
  width: 121px;
  background-color: #ffffff;
  border: none;
  box-shadow: 0px 0px 4px 0px #0000001a;
  border-radius: 8px;
}

.btn-prio-medium {
  height: 41px;
  width: 121px;
  background-color: #ffffff;
  border: none;
  box-shadow: 0px 0px 4px 0px #0000001a;
  border-radius: 8px;
}

.btn-prio-low {
  height: 41px;
  width: 121px;
  background-color: #ffffff;
  border: none;
  box-shadow: 0px 0px 4px 0px #0000001a;
  border-radius: 8px;
}

.prio-btn-container .active {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  color: white;
}

.prio-btn-container button:hover {
  opacity: 0.8;
}

.date-input {
  height: 40px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  padding: 0 21px;
}
.input-containers {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 396px;
  padding-bottom: 16px;
  position: relative;
  width: 100%;
}

.description-input {
  height: 88px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  padding: 18px 21px;
  font-size: 16px;
}
.title-input {
  height: 40px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  padding-left: 21px;
}
.okTask-btn {
  height: 56px;
  width: 100px;
  color: white;
  background-color: #2a3647;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-size: 21px;
}
.okTask-btn:hover{
  background-color: #29abe2;
}
.input-containers p{
  font-size: 16px;
}