#menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
}

#nav-bar {
  position: sticky;
  bottom: 0;
  background: #2A3647;
  color: #CDCDCD;
  z-index: 999;
  box-shadow: 0px 0px 4px 0px #0000001A;
}

#frame-nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

#logo-nav-bar {
  display: none;
  padding: 64px 0;
  width: 232px;
}

#logo-nav-bar svg {
  height: 122px;
  padding: 0 66px;
}

.nav-button {
  background-color: unset;
  border: none;
  padding: unset;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 76px;
  height: 76px;
  transition: color 0.3s, fill 0.3s;
  color: #cdcdcd;
  font-size: 14px;
}

.nav-button:hover {
  color: white;
  background-color: #091931;
  border-radius: 16px;
}

#legal-documents {
  display: none;
  padding-bottom: 64px;
}

#legal-documents p {
  padding: 8px;
}

.legal-documents-button {
  width: 120px;
}


@media screen and (min-width: 768px) {
  #menu {
    flex-direction: column;
    align-items: center;
  }

  #nav-bar {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 0;
  }

  .nav-button {
    width: 232px;
    height: 46px;
    display: flex;
    flex-direction: unset;
    gap: 8px;
  }

  .nav-button-img {
    width: 32px;
    justify-content: center;
  }

  .nav-button-p {
    width: 80px;
    display: flex;
    justify-content: start;
  }

  .nav-button:hover {
    border-radius: unset;
  }

  #logo-nav-bar {
    display: flex;
    justify-content: center;
  }

  #legal-documents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .footer-button {

    padding: unset;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;

    align-items: center;
    width: 100%;
    height: 76px;
    transition: color 0.3s, fill 0.3s;
  }

  .footer-button-frame {
    display: flex;
    justify-content: center;
    flex-direction: unset;
    align-items: start;
    height: 76px;
    width: calc(232 - (2*53));
  }

  .footer-button svg {
    width: 30px;
    height: 30px;
  }
}