* {
  margin: 0;
  font-family: inter;
}

body {
  background-color: #f6f7f8;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

header {
  padding-top: 80px;
  padding-left: 77px;
}

button {
  cursor: pointer;
}

.login-logo {
  height: 78px;
  width: 64px;
}

.hero {
  align-items: center !important;
  padding: 0 !important;
  padding-top: 60px !important;
}

.signup-window {
  height: 630px;
  width: 598px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  border-radius: 30px;
  box-shadow: 0px 0px 14px 3px #0000000a;
}

.login-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.login-signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 21px;
}
.signup-btn {
  height: 49px;
  width: 91px;
  border-radius: 8px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-container {
  padding-top: 77px;
  height: 49px;
  width: 292px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 35px;
}

.signup-btn a {
  color: white;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 42px;
  height: 35px;
  width: 246px;
}

a {
  text-decoration: none;
  font-size: 16px;
  color: #a8a8a8;
  font-weight: 400;
}

.checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  padding-top: 10px;
}

.checkbox-container h4 {
  font-size: 16px;
  color: #a8a8a8;
  font-weight: 400;
}

.checkbox-container a {
  color: #29abe2;
}

.arrow-sigup-container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: flex-start;
  gap: 40px;
  justify-content: flex-start;
}

form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

.erorr-msg {
  font-size: 12px;
  color: red;
  padding-left: 12px;
}

@media (max-width: 680px) {
  header {
    padding: 38px 37px !important;
  }

  .login-logo {
    height: 78px !important;
    width: 64px !important;
  }

  .signup-window {
    width: calc(100% - 32px);
  }
}