  .checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 8px;
  }

  .checkbox-container a {
    color: #29ABE2;
  }

  .arrow-sigup-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: flex-start;
    gap: 40px;
    justify-content: flex-start;
  }

  form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 24px;
  }

  .erorr-msg {
    font-size: 12px;
    color: red;
    padding-left: 12px;
  }