* {
  margin: 0;
  font-family: inter;
}

header {
  height: 80px;
  width: auto;
  display: flex;
  align-items: center;
  padding: 67px 122px;
  justify-content: space-between;
}
h1 {
  font-weight: 700;
  font-size: 61px;
}

h3 {
  font-size: 20px;
  font-weight: 400;
}
h4 {
  font-size: 16px;
  color: #a8a8a8;
  font-weight: 400;
}

.header-logo {
  height: 39px;
  width: 32px;
}
button {
  cursor: pointer;
}
.user-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  border: solid 2px black;
}

.user-button:hover {
  cursor: pointer;
}

.inside-radius {
  height: 32px;
  width: 32px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h5 {
  color: #29abe2;
  font-size: 14px;
}

.hero {
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.title-arrow {
  display: flex;
  justify-content: space-between;
  align-items: top;
}

.arrow-left {
  height: 32px;
  width: 32px;
}

.imprint-title {
  padding-bottom: 16px;
}
.email-div {
  padding-top: 16px;
}
h2 {
  font-size: 16px;
  font-weight: 800;
  line-height: 19.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.login-header {
  padding: 37px 38px;
}
.login-logo {
  position: relative;
  height: 122px;
  width: 100px;
}
input:focus {
  outline: none !important;
  border: 1px solid #29abe2;
}
.input-box {
  position: relative;
  height: 48px;
  width: 402px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.input-box input {
  border: solid 1px #d1d1d1;
  border-radius: 10px;
  height: 44px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
.input-img {
  position: absolute;
  right: 20px;
  height: 24px;
  width: 24px;
}

.show-password-img {
  cursor: pointer;
}
.input-box input:focus {
  outline: none !important;
  border: 1px solid #29abe2 !important;
}

.signup-btn {
  height: 49px;
  width: 91px;
  color: white;
  background-color: #2a3647;
  border: solid #2a3647;
  border-radius: 8px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.erorr-msg {
  display: none;
  font-size: 12px;
  color: red;
  padding-left: 12px;
  position: absolute;
  top: 50px;
}

@media (max-width: 680px){
  h1{
    font-size: 47px;
  }
}

@media (max-width: 500px){
  .input-box {
    width: calc(100% - 32px);
  }
  .input-box input{
    width: 100%;
  }
}

@media (max-width: 340px){
  h1{
    font-size: 32px;
  }
}
