* {
  margin: 0;
  font-family: inter;
  background-color: #F0F0F0;
}

header {
  height: 80px;
  width: auto;
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  box-shadow: 0px 4px 4px 0px #0000001A;
  justify-content: space-between;
  position: fixed;
  top: 0; /* Fixiert den Header oben */
  left: 0; /* Fixiert den Header horizontal links */
  width: 100%; /* Deckt die gesamte Breite ab */
  z-index: 1000;
  background-color: white;

}

.header-logo {
  height: 39px;
  width: 32px;
}
button{
  cursor: pointer;
}
.user-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  border: solid 2px black;
}

.user-button:hover {
  cursor: pointer;
}

.inside-radius {
  height: 32px;
  width: 32px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h5 {
  color: #29abe2;
  font-size: 14px;
}

.hero{
    padding-top: 32px;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* width: 100%; */
}

h1{
  font-weight: 700;
  font-size: 47px;
}

.title-arrow{
  display: flex;
  justify-content: space-between;
  align-items: top;
}

.arrow-left{
  height: 32px;
  width: 32px;
}

.imprint-title{
  padding-bottom: 16px;
}
.email-div{
  padding-top: 16px;
}
h2{
  font-size: 16px;
  font-weight: 800;
  line-height: 19.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
    
}
.login-header{
  padding: 37px 38px;
}
.login-logo{
  height: 78px;
  width: 64px;
}
