/* Contacts Overview */

.contact-wrapper{
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
}

.contacts-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 1156px;
    scrollbar-width: 27px;
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    margin-left: 14px;
}

.contacts-section-header{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.contacts-section-header h3{
    padding: 17px 36px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.seperation-line{
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: #D1D1D1;
    width: 100%;
    height: 2px;

}

.contact{
    display: flex;
    align-items: center;
    padding: 17px 24px;
}

.contact-avatar{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: blue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-right: 24px;
}

.contact-avatar-infos{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact-avatar-infos span{
    font-size: 19px;
}

.contact-avatar-infos a{
    font-size: 16px;
    color: #007CEE
}

.add-contact-button{
    position: fixed;
    top: 80%;
    left: 80%;
}

/* Contact Detail */

.contact-details-wrapper{
    margin-top: 4px;
    padding: 32px 16px;
    background-color: #F6F7F8;
    height: 926px;
}

.contact-detail-title-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 32px;
}

.page-title{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.page-title h1{
    font-size: 47px;
    font-weight: 700;
}

.page-title p{
    font-size: 20px;
    font-weight: 400;
}

.blue-line{
    height: 3px;
    background-color: #29ABE2;
    width: 90px;
    display: flex;
}

.contact-detail-view{
    display: flex;
    flex-direction: column;
    gap: 21px;

}

.contact-avatar-and-name{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.detail-contact-avatar{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: rgb(255, 89, 0);
    color: white;
    font-size: 27px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-avatar-and-name h2{
    font-size: 36px;
    font-weight: 700;

}

.contact-detail-view p{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.contact-detail-view h5{
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    color: #000000;
}

.contact-detail-view a{
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: #007CEE;
}

.three-points-menu{
    position: fixed;
    top: 70%;
    left: 80%;
}