#menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 16px;
}

#nav-bar {
  position: sticky;
  bottom: 0;
  background: #2A3647;
  color: #CDCDCD;
  z-index: 999;
  box-shadow: 0px 0px 4px 0px #0000001A;
}

.footer-button-frame {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 76px;
}

.footer-button {
  background-color: unset;
  border: none;
  color: unset;
  padding: unset;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 76px;
  height: 76px;
  transition: color 0.3s, fill 0.3s;
}

.footer-button:hover .footer-button-icon path {
  fill: white;
  /* Icon weiß färben */
  transition: fill 0.1s;
  /* Sanfter Übergang */
}

.footer-button:hover .footer-button-text {
  color: white;
  /* Text weiß färben */
  transition: color 0.1s;
  /* Sanfter Übergang */
}

.footer-button-icon {
  fill: #cdcdcd;
  /* Standardfarbe für Icon */
  transition: fill 0.1s;
  /* Sanfter Übergang */
}

.footer-button-text {
  color: #cdcdcd;
  /* Standardfarbe für Text */
  font-size: 14px;
  transition: color 0.3s;
  /* Sanfter Übergang */
}

.footer-button:hover {
  background-color: #091931;
  border-radius: 16px;
}

footer svg {
  padding: 4px;
}

@media screen and (min-width: 768px) {
  #nav-bar {
    height: 100vh;
    position: sticky;
    top: 0;
  }

  #menu {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;   
    box-shadow: none;
    width: 200px;
  }
}