.prio-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .btn-prio {
    height: 41px;
    width: 121px;
    background-color: #ffffff;
    border: none;
    box-shadow: 0px 0px 4px 0px #0000001a;
  }
  .clear-addTask-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 16px;
    gap: 8px;
  }
  
  .clear-btn {
    height: 56px;
    width: 110px;
    border: solid #2a3647;
    background-color: #f6f7f8;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-size: 21px;
  }
  .creatTask-btn {
    height: 56px;
    width: 183px;
    color: white;
    background-color: #2a3647;
    border: solid #2a3647;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-size: 21px;
  }
  
  span {
    color: #ff8190;
  }
  
  .title-input {
    height: 40px;
    width: 396px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    padding-left: 21px;
  }
  
  input::placeholder {
    font-size: 16px;
  }
  
  .input-containers {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 396px;
    padding-bottom: 16px;
  }
  .description-input {
    height: 88px;
    width: 386px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    padding: 18px 21px;
    font-size: 16px;
  }
  .date-input {
    height: 40px;
    width: 364px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    padding: 0 21px;
  }
  .drop-down {
    height: 48px;
    width: 396px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
  }
  .contact-list-container{
    display: none;
      height: 288px;
  /*     background-color: white; */
      z-index: 1;
      position: relative;
      overflow: auto;
      overflow-x: hidden;
      width: 430px;
  }
  .contact{
      width: 396px;
      display: flex;
      justify-content: space-between;
      padding: 0 16px;
      z-index: 5;
  }
  .name-and-img{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 16px;
  }
  .initials-circle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px; /* Kreis-Durchmesser */
    height: 40px;
    border-radius: 50%; /* Kreisform */
    color: white; /* Textfarbe */
    font-weight: bold; /* Fettschrift */
    font-size: 16px; /* Schriftgröße */
    margin: 5px; /* Abstand zwischen den Kreisen */
    text-transform: uppercase; /* Alle Buchstaben groß */
  }